:root {
    --tp-theme-color: #0058FC;
    --tp-theme-sec-color: #ffe815;
    --tp-black: black;
    --tp-white: white;
    --tp-grey-color: #f6f6f6;
    --tp-grey-color-2: #f6f6f6;
    --tp-grey-color-3: #f6f6f6;
    --tp-grey-color-4: #f6f6f6;
}